$blue: #50c0e1;
$green: #55CE81;
$dark-blue: #282C34;
$purple: #BD0FE1;
$red: #FF001F;

$gray: gray;
$dark-gray: #292420;
$light-gray: rgb(242, 245, 248);


$white: #FFFFFF;
$black: #000;

$dark-font: $dark-blue;
$dark-background: $dark-blue;
