// @import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/scss/bootstrap';

// Common
@import './media';
@import './colors';
@import './shadows';
@import './fonts';
@import './height';
@import './backgrounds';
@import './transitions';
@import './text';
@import './markdown';
@import './margins';
@import './border-radius';
@import './animations';
@import './zindex';
@import './position';
@import './pointer';
@import './border';

// components
@import './links';
@import './post-card';
@import './top-nav';
@import './cta';
@import './article';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  overflow-x: hidden;
}
